<li class='user'>

  <p class='username'>{{username}}</p>
  
  <p class='record'>{{wins}}/{{losses}} (W/L)</p>

  {{#if myRoom}}

    <p class='score'>Score: {{score}}</p>

  {{else}}

    <p class='room'>in game "{{room}}"
      <input type='button' class='join' name='{{room}}' value='Join'>
    </p>
    
  {{/if}}
  
</li>