<li class='user'>

  <p class='username'>{{username}}</p>

  {{#if room}}  <!-- In a room -->

    {{#if myRoom}} <!-- In my room -->

      <p class='score'>Score: {{score}}</p>

    {{else}}  <!-- In a room, but not mine -->

      <p class='room'>in game "{{room}}"
        <input type='button' class='join' name='{{room}}' value='Join'>
      </p>

    {{/if}}

  {{else}}  <!-- Not in a room -->

    <p class='record'>{{wins}}/{{losses}} (W/L)</p>

  {{/if}}
  
</li>