<li class='user'>

  <p class='username'>{{username}}</p>
  
  <p class='record'>{{wins}}/{{losses}} (W/L)</p>

  {{#if myRoom}}
    <p class='score'>Score: {{score}}</p>
  {{else}}
    <p class='room'>{{room}}</p>
  {{/if}}
  
</li>